<section class="section is-medium" id="About-Me">
    <header class="section has-background-link">
        <h2 class="title has-text-white">About Me</h2>
    </header>
    <div class="about-me-info box">
        <div class="columns is-desktop">
            <div class="container column is-one-quarter">
                <img class="image-me media" src="/images/me.jpg" alt="It's me!" />
            </div>
            <div class="about-me-info-content column">
                <p>
                    Fullstack software engineer with 3 years of experience designing, developing, and deploying scalable web applications. Skilled in both front-end and back-end development, with expertise in technologies such as the MERN stack (MongoDB, Express, React, Node.js) and WordPress/PHP, and the ability to adapt to new technologies and methodologies. Adept at collaborating across teams, solving complex problems, and delivering high-quality code in agile environments. Passionate about staying current with industry trends and leveraging modern tools for continuous improvement. Actively seeking opportunities to contribute technical expertise and leadership to a forward-thinking teams.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="section is-medium" id="Work">
    <header class="section has-background-link">
        <h2 class="title has-text-white">Work</h2>
    </header>
    <div id="projects" class="columns is-mobile is-multiline is-centered">
        {{#each projects as |project|}}
        {{> project-details}}
        {{/each}}
    </div>
</section>

<section class="section is-medium" id="Contact-Me">
    <header class="section has-background-link">
        <h2 class="title has-text-white">Contact Me</h2>
    </header>
    <ul class="contacts">
        <li><i class="fas fa-phone-square-alt"></i> Phone: <a href="tel:2159394754">(215) 939-4754</a></li>
        <li><i class="fas fa-envelope"></i> Email: <a href="mailto:mellusbrandon@gmail.com">mellusbrandon@gmail.com</a></li>
        <li><i class="fab fa-linkedin"></i> Linkedin: <a target="_blank" href="https://www.linkedin.com/in/brandonmellus/">https://www.linkedin.com/in/brandonmellus/</a></li>
        <li><i class="fab fa-github-square"></i> Github: <a target="_blank" href="https://github.com/mels065">https://github.com/mels065</a></li>
        <li><i class="fas fa-file-download"></i> Resume: <a target="_blank" href="/api/download/resume">Download</a></li>
    </ul>
</section>