/* Variables */
:root {
    /* Colors */
    --white: #eee;
    --black: #333;
    --theme-color-1: #397eed;
    --theme-color-2: #06388a;

    /* Spacing */
    --header-spacing: 20px;

    /* Misc */
    --rounded-corners: 10px;
}

/* Global styles */
html {
    scroll-behavior: smooth; /* Used for scrolling effect when link is clicked */
}

body {
    background-color: var(--white);
    color: var(--black);
    font-family: 'Oswald', sans-serif;
    line-height: 1.5;
}

h1.title {
    font-size: 5rem;
}

h2.title {
    font-size: 3.5rem;
}

h3 {
    font-size: 1.7rem;
}

a, p, li {
    font-size: 1.5rem;
}

section > header {
    background-color: var(--theme-color-1);
    border-left: 80px solid var(--theme-color-2);
    border-top-left-radius: var(--rounded-corners);
    border-top-right-radius: var(--rounded-corners);
    color: var(--white);
    padding: 1px;
    padding-left: 30px;
    margin-bottom: 30px;
}

/* Header styles */
.navbar-brand h1 {
    border: 10px solid var(--white);
    border-radius: 100%;
    font-size: 2.5rem;
}

.navbar-menu .navbar-item {
    color: var(--white);
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

.navbar-menu .navbar-item:hover {
    background-color: initial;
    color: initial;
}

/* About Me styles */
.about-me-info.box {
    display: flex;
    margin: 0 auto;
}

/* Creating a wrap around effect for the text */
.image-me {
    border-radius: var(--rounded-corners);
    margin-right: 10px;
    width: 100%;
}

.about-me-info p {
    margin: 20px;
}

/* Work styles */
.project {
    margin: 5px 0;
}

.project img {
    border-radius: var(--rounded-corners);
    width: 100%;
}

/* Contact Me styles */
.contacts {
    list-style: none;
}

.contacts a {
    color: var(--black);
    font-weight: bold;
    text-decoration: none;
}

.contacts a:hover {
    color: var(--theme-color-2);
    font-weight: normal;
    text-decoration: underline;
}

/* Footer styles */
.footer {
    background: var(--theme-color-1);
    padding: 10px;
}

.copyright {
    color: var(--white);
    text-align: right;
}

/* Touchpad style */
@media screen and (max-width: 1024px) {
    #header {
        flex-direction: column;
    }

    .project {
        width: 30%;
    }

    h3 {
        font-size: 1.5rem;
    }

    .project:first-child h3 {
        top: 240px;
    }
}

/* Mobile style */
@media screen and (max-width: 450px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.6rem;
    }
    
    h3 {
        font-size: 0.9rem;
    }
    
    a, p, li {
        font-size: 0.8rem;
    }

    .project {
        width: 100%;
    }

    .project:first-child h3 {
        left: 30px;
        top: 120px;
    }
}