/* Variables */
:root {
    /* Colors */
    --white: #eee;
    --black: #333;
    --theme-color-1: #397eed;
    --theme-color-2: #06388a;

    /* Spacing */
    --header-spacing: 20px;

    /* Misc */
    --rounded-corners: 10px;
}

/* Global styles */
html {
    scroll-behavior: smooth; /* Used for scrolling effect when link is clicked */
}

body {
    background-color: var(--white);
    color: var(--black);
    font-family: 'Oswald', sans-serif;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    letter-spacing: 0.5ch;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2.7rem;
    text-decoration: underline;
}

h3 {
    font-size: 1.7rem;
}

a, p, li {
    font-size: 1.5rem;
}

section {
    margin: 70px 0;
}

section header {
    background-color: var(--theme-color-1);
    border-left: 80px solid var(--theme-color-2);
    color: var(--white);
    padding: 1px;
    padding-left: 30px;
}

/* Header styles */
.header {
    align-items: baseline;
    background-color: var(--theme-color-1);
    color: var(--white);
    display: flex;
    justify-content: space-between;
    padding: 1px;
}

header .left {
    margin-left: var(--header-spacing);
}

header .right {
    margin-right: var(--header-spacing);
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    margin: 0 10px;
}

nav a {
    color: var(--white);
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    font-weight: normal;
    text-decoration: underline;
}

/* About Me styles */
.about-me-info {
    margin: 0 auto;
    width: 50vw;
}

/* Creating a wrap around effect for the text */
.image-me {
    border-radius: var(--rounded-corners);
    float: left;
    margin-right: 10px;
    width: 200px;
}

.about-me-info p {
    width: 40vw;
}

/* Work styles */
.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Target first child so it is bigger than the others */
.project:first-child {
    width: 75%;
}

.project {
    text-align: center;
    margin-bottom: 100px;
    width: 25%;
}

/* Move the heading to the middle of the image with relative positioning */
.project h3 {
    background-color: var(--theme-color-2);
    border-radius: 10px;
    color: var(--white);
    position: relative;
    top: 150px;
    left: 40px;
    width: 80%;
}

.project:first-child h3 {
    top: 380px;
    left: 100px;
}

.project img {
    border-radius: var(--rounded-corners);
    height: 100%;
    width: 100%;
}

.project a:hover img {
    height: 95%;
    width: 95%;
}

/* Contact Me styles */
.contacts {
    list-style: none;
}

.contacts a {
    color: var(--black);
    font-weight: bold;
    text-decoration: none;
}

.contacts a:hover {
    color: var(--theme-color-2);
    font-weight: normal;
    text-decoration: underline;
}

/* Footer styles */
.footer {
    background: var(--theme-color-1);
    padding: 10px;
}

.copyright {
    color: var(--white);
    text-align: right;
}

/* Touchpad style */
@media screen and (max-width: 1024px) {
    .header {
        flex-direction: column;
    }

    .project {
        width: 30%;
    }

    h3 {
        font-size: 1.5rem;
    }

    .project:first-child h3 {
        top: 240px;
    }
}

/* Mobile style */
@media screen and (max-width: 450px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.6rem;
    }
    
    h3 {
        font-size: 0.9rem;
    }
    
    a, p, li {
        font-size: 0.8rem;
    }

    .project {
        width: 100%;
    }

    .project:first-child h3 {
        left: 30px;
        top: 120px;
    }
}
